<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <script src="{% static 'script.js' %}"></script>

    <div class="container" style="background-color: #2b7768;">
        <div class="row">
            <div class="col-sm-8">
                <div style="vertical-align: middle; font-size: large; padding-top: 1%; color: #EDF5E1;">E-Commerce App</div>
            </div>
            <div class="col-sm-4">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-link" style="background-color: #05386B; color: #EDF5E1;" href="/">Home</a>
                <a class="nav-link" style="color: #EDF5E1;" href="/admin">Admin</a>
            </nav>
            </div>
            </div>
            <hr class="hr">
        </div>
    </div>

    <div class="container search-filter-container">
        <span>Search by Description: </span> 
        <input id="description-search" type="text" onkeyup=searchByDescription()>
        <br>

        <span>Filter by Category:</span>
        <div class="form-check">
            {% for category in categories %}
                <input class="category-checkbox" type="checkbox" value="{{ category.name }}" onclick=filterByCategory() checked>
                <span> {{ category.name }} </span>
            {% endfor %}
        </div>

        <span>Filter by Tags:</span>
        <div class="form-check">
            {% for tag in tags %}
                <input class="tag-checkbox" type="checkbox" value="{{ tag.name }}" onclick=filterByTags() checked>
                <span> {{ tag.name }} </span>
            {% endfor %}
        </div>
    </div>
    <div class="container pagination-container">
        {% if products.has_previous %}
            <a href="?page=1" style="color: #EDF5E1;">&laquo First</a>
            <a href="?page={{products.previous_page_number}}" style="color: #EDF5E1;">Previous</a>
        {% endif %}
        <span > Page {{ products.number }} of {{ products.paginator.num_pages }} </span>
        {% if products.has_next %}
            <a href="?page={{products.next_page_number}}" style="color: #EDF5E1;">Next</a>
            <a href="?page={{products.paginator.num_pages}}" style="color: #EDF5E1;">Last&raquo</a>
        {% endif %}
    </div>

    <div class="container" style="background-color: #379683;">
        <table class="product-table" id="product-table">
            <thead>
              <tr>
                <th class="product-id" scope="col">ID</th>
                <th class="product-thumbnail" scope="col">Thumbnail</th>
                <th class="product-name" scope="col">Name</th>
                <th class="product-description" scope="col">Description</th>
                <th class="product-category" scope="col">Category</th>
                <th class="product-tags" scope="col">Tags</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <td class="product-id">{{ product.id }}</th>
                <td class="product-thumbnail"><img src="{{ product.picture_url }}"  width="100"></td>
                <td class="product-name">{{ product.name }}</td>
                <td class="product-description">{{ product.description }}</td>
                <td class="product-category">{{ product.category }}</td>
                <td class="product-tags"> {{ product.tags.all|join:", " }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</body>
</html>